:host {
  display: inline-block;
}

#button {
  border: none;
  border-right: solid 1px #fff;
  width: 4rem;
  height: 4.6rem;
  background-color: #444;
  color: #fff;
  padding: 0;
  cursor: pointer;
  margin:0;
  display: inline-block;
  line-height: 4rem;
}

#container.transparent #button {
  background-color: transparent;
  color: #444;
}

#container.transparent #button:hover {
  background-color: transparent;
  color: #000;
}

#container.transparent.selected #button {
  background-color: #444;
  color: #fff;
}

#container.transparent.selected #button:hover {
  background-color: #000;
}

#button.small {
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
}
#button.extra-small {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

span {
  font-size: 1.3rem;
}

#button.large {
  width: 100%;
  height: 2.3rem;
  line-height: 2.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

#button.large span {
  font-size: 0.8rem;
  display: inline-block;
}

#button.hybrid {
  display: flex;
  flex-direction: column;
}

#button.hybrid i {
  display: inline-block;
  height: 55%;
  width: 100%;
  line-height: 3.5rem;
}

#button.hybrid span {
  font-size: 0.8rem;
  height: 45%;
  width: 100%;
  line-height: 1.5rem;
}

#button:hover {
  background-color: #000;
}