:host, #panel {
  min-height: 10rem;
  height: 16rem;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#gutter {
  border: none;
  height: 6px;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  cursor: row-resize;
}

#close {
  border: none;
  color: #777;
  padding: 0;
  margin:0.5rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  cursor: pointer;
}

#close i:before {
  content: "\f00d";
}

#close:hover {
  border-color: #000;
  color: #000;
}

#content {
  position: absolute;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  background : #fff;
  padding : 0;
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#header {
  flex: 0;
}

.tab {
  border: solid 1px #ccc;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.tab.active {
  color: #fff;
  background-color: #444;
}

#grid {
  overflow: hidden;
  flex: 1;
}

.gridjs-wrapper {
  overflow-x: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

.gridjs-container {
  height: 100%;
  width: 100%;
}

.geo-type {
  margin-right: 0.5rem;
}

girafe-button {
  float: right;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}
