#searchbox {
  background-color: #fff;
  border-right: none;
  height: 2.5rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.16);
}

#search {
    font-size: 1rem;
    outline: none;
    margin: 0 0 0 0.5rem;
    padding-left: 0.8rem;
    border: 0;
    height: 2.2rem;
    width: auto;
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-appearance: none;
    background : transparent;
    color: #333;
}

#searchIcon {
    display: inline-block;
    width: 20px;
    height: 25px;
    color: #000;
    background-position: -121px 1px;
    padding: 9px 10px;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    -moz-background-clip: content-box;
    -moz-background-origin: content-box;
    -webkit-background-clip: content-box;
    -webkit-background-origin: content-box;
}

#results {
  z-index: 1000;
  margin-top : 0.1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 3.5rem;
  width: 36rem;
  max-height: 31rem;
  background-color : #fff;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.result, .title {
  display: inline-block;
  padding: 0.3rem 1rem;
  width: Calc(36rem - 2rem);
  border-top: solid 1px #ccc;
  line-height: 1.3rem;
}

.title {
  background-color: #555;
  color: #fff;
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 1.2rem;
}

.result {
  cursor: pointer;
}

.title i {
  margin-right: 1rem;
}

.result:hover {
  background-color: #aaa;
  color: #fff;
}
