* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: .9rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px #ddd;
  background: #fff;
  height: 4.5rem;
  z-index: 100;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

girafe-theme-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 100;
}

#logo {
  position: absolute;
  left: 4.5rem;
  bottom: 0;
  margin-bottom: 0.5rem;
  height: 45px;
  margin-left: 1rem;
}

girafe-search {
  margin: 1rem auto;
  display: block;
  width: 36rem;
}

#buttonbar {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  color: #fff;
  background-color: #444;
  font-size: 0;
  padding: 0;
  display: flex;
  height: 4.6rem;
  overflow: visible;
}

#content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

#content-map {
  position: relative;
  flex: 1;
}

#content-bottom {
  position: relative;
  flex: 0;
}

#content-map section {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

girafe-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

girafe-tree-view {
  position: relative;
  width: 25rem;
  z-index: 90;
  background: #fff;
  overflow: auto;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

footer {
  flex: 0;
  align-self: flex-end;
  border: none;
  z-index: 10;
  display: flex;
  flex-direction: row;
}

girafe-selection-grid {
  position: relative;
  display: block;
}

girafe-redlining, girafe-print {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  z-index: 90;
  border-left: solid 1px #ddd;
  background: #fff;
  overflow: visible;
  display: none;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

girafe-selection-window {
  position: absolute;
  z-index: 100;
  background: #fff;
  display: none;
}

girafe-about {
  position: absolute;
  z-index: 100;
  background: #fff;
  display: none;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-top {
  border-top: solid 1px #fff;
}
